[2019-02-17 13:00] doug7410 opened #1 "Error in Readme"
In the main README file there is an example using the CLDContext component that looks like this

[code]

It should be using the `<CLDContext>` tag instead.

[code]

[2019-02-17 13:41] #1 closed, assigned to nobody

[2019-04-08 19:26] willdante opened #8 "Error - These relative modules were not found"
Hi,

I've installed cloudinary-vue in Gridsome and can't compile because of this error:

`
ERROR  Failed to compile with 4 errors
These relative modules were not found:

* ./CldImage.vue?vue&type=style&index=0&lang=scss& in ./node_modules/cloudinary-vue/src/components/CldImage.vue
* ./CldVideo.vue?vue&type=style&index=0&lang=scss& in ./node_modules/cloudinary-vue/src/components/CldVideo.vue
* ./Cl

[2019-04-09 07:50] arturkulig commented on #8
Thank you for posting this issue.

I've setup a basic project with Gridsome and what allowed me to continue to work with it was to install two more dependencies. Try running this in terminal:

[code]

and let me know if that worked for you.

[2019-04-09 08:32] willdante commented on #8
Thank you, that worked !

[2019-04-09 11:15] arturkulig commented on #8
Awesome 🎉

[2019-04-09 11:15] #8 closed

[2019-04-15 09:35] pastdevr opened #9 "Cannot play video with cld-video in Safari"
I'm getting the following error when trying to play video in Safari.

I can see poster uploaded successfully. Example of code
[code]

[2019-04-15 11:47] arturkulig commented on #9
I've tried something similar with our resource and could not replicate your issue:
https://codesandbox.io/s/yp8r1koqyv
Does that happen for you in this sample?

ℹ️ BTW Try `videoCodec` instead of `video_codec`

[2019-04-15 14:15] pastdevr commented on #9
@arturkulig the video you placed `codesandbox` is playing fine.
After further investigation, I found that service worker might be involved in the problem which breaks range request to the video source and prevents from playing in Safari. So it might be not a problem of this component.

[2019-04-16 13:43] arturkulig commented on #9
I'm relieved to know that and glad you were able to start to deal with your issue. Please, open new issue, in case of other problems :)

[2019-04-16 13:43] #9 closed

[2019-04-24 01:26] paurakhsharma opened #10 "Will there be image upload feature so I don't have to user jQuery SDK?"
First of all, thank for this project.

As I saw in the documentation that `cloudinary-vue` doesn't support
image upload and I have to use `jQuery` or `Pure JS` for uploading
an image from a client site.

Can we expect similar image upload feature in this library like in `jQuery`?
Thanks.

[2019-04-25 12:14] arturkulig commented on #10
We will be adding [Cloudinary Upload Widget](https://cloudinary.com/documentation/upload_widget) <-> Vue integration in this SDK soon.

[2019-04-26 09:42] paurakhsharma commented on #10
Thanks for the quick replay

[2019-04-26 09:42] #10 closed

[2019-05-13 15:55] ascottmccauley opened #11 ""unknown cloud_name" with Nuxt"
I can't seem to get the cloud_name to reference globally across the entire Nuxt app.
I have added the following plugin to the *nuxt.config.js* but receive the notice **Unknown cloud_name** .
Adding the cloudname to the template component works: `<cld-image cloudName="demo" publicId="sample" />` but shouldn't I be able to set that globally?

[code]

[code]

[2019-05-14 09:54] strausr commented on #11
@ascottmccauley We're unable to reproduce this on our end. Can you please share with us a live example?

[2019-05-14 13:46] ascottmccauley commented on #11
Sorry, I can't replicate it now either.
Not sure what changed overnight.

[2019-05-16 05:10] csuydam opened #13 "responsive="fill" cropping to preserve aspect ratio"
Hello - I'm hoping to handle a situation where the width of my responsive images is a percentage of the page width and the height is set in pixels. I would like to implement responsive Cloudinary images, but it's not maintaining the aspect-ratio, and I can't figure out how to set the crop settings to "fill". I've tried many different crop, width, height and responsive transformation combinations.

[2019-05-16 12:04] arturkulig commented on #13
I'm sorry to say, but you have found an issue that we won't be able to resolve right now.

The width is slightly different because of default breakpoints (from 100 to 4000 with a step of 100). They are there to minimise amount of transformations on the cloud.

The image in my tests is actually not squished (at least not more than due to breakpoints in the works), but rather stretched.

You're abso

[2019-05-16 23:01] csuydam commented on #13
Thank you for the quick reply! I'll keep my eye out for the fix

[2019-05-17 21:00] zaros-systems opened #17 "responsive="width" doesn't return a larger image when the page is resized"
I'm having problems with responsive.

As expected, when my image container width is small, responsive="width" returns a small image.
As expected, when my image container width is large, responsive="width" returns a large image.

However, if my initial image container width is small and I then increase the image container's width, I do not receive a larger image as I would expect. Instead, the smal

[2019-05-20 11:59] arturkulig commented on #17
Hi! Thank you for posting this.
As you can see - I've created a fix for a second issue you have mentioned.
About the first however: I can see it in a released version and I don't in dev builds, so I assume the fix is already awaiting for release. I will notify you when that happens, so we can figure out where we are with this.

[2019-07-04 18:17] RicLeP opened #22 "Missing required prop: "publicId" on cld-video"
I keep getting missing publicId despite setting one.

[code]

And in my HTML

[code]

Everything looks correct according to the documentation but the publicId prop isn’t found.

[2019-07-05 13:34] arturkulig commented on #22
That is quite a serious issue, but I'm not sure where to seek for the cause.
Can you first try to create a demoable reproduction of the issue? Just this does not seem to be the issue - maybe there is something more in your project that is causing that.

You can
[![Vue Template](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/x99znj8194?fontsize=14)
or create your

[2019-08-05 20:11] macguirerintoul opened #23 "Adding 'responsive' prop doesn't render properly"
Hi there,

Thanks for creating this. I'm having trouble getting responsive images set up as described in the documentation. `<CldImage>` works fine with all other props (i.e. `dpr="auto"`, `width="auto"`), but when I add `responsive` as shown [here](https://cloudinary.com/documentation/vue_image_manipulation#responsive_image_settings), the component doesn't render properly — all I get in the DOM i

[2019-08-06 22:36] brian-cloudinary commented on #23
Thanks for pointing this out. Please use `responsive="width"` in the meantime.

[2019-08-12 08:30] mayashavin opened #24 "[Improvements]Add Storybook"
Add storybook to for documentation & showcase the components.

[2019-08-12 13:23] mayashavin opened #25 "Split CldPicture and CldSource to separate PR"

[2019-08-12 13:24] mayashavin opened #26 "[Tasks] Responsive mode to String & Boolean as types options"

[2019-08-13 07:42] arturkulig commented on #25
Done.

---

There are two options: Either creating a new task or change a title of this one to
_~Split CldPicture and CldSource to separate PR~ Redesign and reimplement CldPicture_

[2019-08-13 13:30] mayashavin opened #29 "[Tasks] Disable CLDTransformation completely"

[2019-08-14 09:31] mayashavin commented on #29
Also disable CLDPoster

[2019-08-14 14:37] arturkulig commented on #26
@mayashavin done

[2019-08-14 14:37] arturkulig commented on #29
@mayashavin done

[2019-08-14 14:40] arturkulig commented on #24
@mayashavin PR ready, branched off of one-pass branch.
As agreed containing only bootstrapped storybook.

[2019-08-15 09:56] #24 closed

[2019-08-15 09:57] #26 closed

[2019-08-15 09:57] #29 closed

[2019-08-15 12:25] arturkulig commented on #25
@mayashavin
Done
https://github.com/cloudinary/cloudinary-vue/pull/33

[2019-08-28 05:49] andrewlamyw commented on #10
Is there an estimated time?

[2019-08-28 07:13] mayashavin opened #39 "[Improvement] Refactor CLDVideo, CLDPoster to use provide/inject"
Task lists:
[] Use provide/inject with `registerPoster` injector for `CLDPoster`
[] Refactor CLDVideo to make it simple

[2019-08-28 07:15] mayashavin opened #40 "[Documentation] Add components to Storybook"

[2019-08-28 07:17] mayashavin opened #41 "[Documentation] Add markdown generator to generate documentation pages"

[2019-08-28 07:18] mayashavin opened #42 "[Integration] Create Gridsome plugin"

[2019-08-28 07:21] #13 closed

[2019-08-28 07:25] mayashavin commented on #22
@RicLeP Does this issue still happen? Can you provide us more information such as screenshot of console log? Your settings? Thanks

[2019-08-28 07:26] mayashavin opened #43 "[Documentation] Add contributor section (how to contribute)"

[2019-08-28 13:27] andrewlamyw opened #44 "Image rotation"
How to rotate image according to exif information when using <cld-image /> component?

[2019-08-29 23:27] leptians commented on #44
Hi Andrew,

If you are uploading the image to Cloudinary, the image will be automatically rotated based on the exif information. If that's not the case, can you share a sample code for us to reproduce it?

Regards,
Erwin Lukas

[2019-08-30 04:56] #44 closed

[2019-09-30 04:19] billsomen commented on #8
Not working for me

[2019-09-30 21:16] brian-cloudinary commented on #8
Hi @billsomen, could you share what exactly does not work, along with the errors you see?

[2019-10-06 18:22] mayashavin opened #45 "[Packages maintainance] Update/remove deprecated dependencies"
Need to update or check if we really need these dependencies
<img width="1325" alt="Screen Shot 2019-10-06 at 19 21 22" src="https://user-images.githubusercontent.com/6650139/66273737-94159600-e86e-11e9-86ab-17a60a156222.png">

[2019-10-10 08:40] #39 closed

[2019-11-02 16:49] macguirerintoul commented on #8
I had the same issue. What fixed it for me was importing individual components on new lines. My environment: Gridsome `0.7.9`, cloudinary-vue `1.0.0-beta2` and `1.0.0-beta3`

**Works**
[code]

**Doesn't work**
[code]

Any ideas why?

[2019-11-04 08:53] #25 closed

[2019-11-04 15:32] andrewlamyw opened #50 "Error using cld-image after upgrading from version 1.0.0-beta2 to 1.0.0-beta3"
What are the breaking changes introduced from version 1.0.0-beta2 to 1.0.0-beta3?

[2019-11-05 10:02] #22 closed

[2019-11-05 12:30] arturkulig commented on #50
There should be none. In case you have noticed an unexpected behavior, please write down what were you expecting and how that expectation was not fulfilled.
A demo of that failure will be much appreciated!

[2019-11-06 12:22] mayashavin opened #51 "[Documentation] Update Release note for Beta 3 release"
<img width="996" alt="Screen Shot 2019-11-06 at 14 22 02" src="https://user-images.githubusercontent.com/6650139/68297956-e1b93480-00a0-11ea-8536-d7eb454cfe06.png">
Current there is no description of what was changed. Need to be updated.

[2019-11-06 12:26] arturkulig commented on #41
We have storybook and styleguide and imo those cover that. Did you mean something else?

[2019-11-06 12:38] #23 closed

[2019-11-07 11:10] arturkulig commented on #51
https://github.com/cloudinary/cloudinary-vue/releases/tag/1.0.0-beta3

[2019-11-07 11:10] #51 closed

[2019-11-11 11:55] #50 closed

[2019-11-15 05:00] hellokvn opened #55 "[Suggestion] new prop: img-class"
**Like:**
`<cld-image publicId="img.public_id"  class="image" img-class="avatar" />`

**Result:**
[code]

[2019-11-15 22:52] shirlymanor commented on #55
Thank you for your feedback!
I'll forward it to our product team to consider adding it to our roadmap.

[2019-11-19 18:52] avr opened #57 "Feature: Update wrapping element"
I'd like to be able to control the wrapping element - aka replace `<div class="cld-image">` with `<figure class="cld-image">`

This can be achieved by using a simple render function in CldImage.vue.  I have this working in a simple test - are you open to a PR?

Thanks!
avr

[2019-11-20 08:59] mayashavin commented on #57
Hi @avr ,

Sound good. Please submit a PR and we will take a look :)

[2019-11-20 09:01] #17 closed

[2020-01-21 14:01] jackieros commented on #40
@mayashavin, @roeeba  - What's the "documentation" need here?

[2020-01-21 15:57] unr commented on #10
Any update on this @arturkulig ?

[2020-01-21 18:16] rebeccapeltz commented on #10
We have a feature request logged for this. In the meantime, you can write an upload component using the Upload API: [Creating a Vue.js Application for Uploading Assets to Cloudinary](https://support.cloudinary.com/hc/en-us/articles/360011139699-Creating-a-Vue-js-Application-for-Uploading-Assets-to-Cloudinary), or you can wrap a Cloudinary widget in a framework component.  This example wraps a vide

[2020-01-21 18:17] unr commented on #10
Perfect answer for now, thank you @rebeccapeltz :)

(That's basically how I'm using it currently, was curious after seeing this issue)

[2020-01-23 16:09] pulkit21 opened #59 "Module parse failed: Unexpected token"
[code]
Loader file
[code]

I am getting this error, i am using this with rails 5 and webpack, not sure what i am doing wrong

[2020-01-23 22:51] rebeccapeltz commented on #59
The easiest way to add the Cloudinary Vue plugin is with the Vue 3 CLI, but if you have conditional chaining have a look at this link on configuring webpack for Vue plugins: https://vue-loader.vuejs.org/guide/#manual-setup.  You'll find notes on adding the Cloudinary Vue plugin with the CLI here: https://github.com/cloudinary/vue-cli-plugin-cloudinary.

[2020-02-10 13:26] mkbctrl opened #60 "Update from beta-2 to 1.0.0 creates issues"
Hello to all,

I wanted to update the `cloudinary-vue` package from `1.0.0-beta2` to latest version, and once I did it, here's the webpack output:

[code]

Have anyone encountered simillar issue?

[2020-02-11 14:18] idobarnoam commented on #60
@mkbctrl Thanks for bringing this to our attention.

We'll take this internally and see share any insights regarding this soon.

[2020-02-11 14:38] patrick-tolosa commented on #60
Hey @mkbctrl
I just took a project from beta-2 and upgraded it to 1.0.0 without an issue.

The transpiler is having a problem with here:
`ERROR in ./node_modules/cloudinary-vue/src/index.js`

This shows you're trying to transpile /src/index.js inside the Cloudinary Vue package.
You probably shouldn't consume the /src/ directly, instead, you should  import the package name without a path: `import C

[2020-02-12 19:16] mkbctrl commented on #60
Hey @patrick-tolosa this is how we import the Cloudinary component,
we do it in the parent/wrapping component of our Checkout process:

[code]

Creating a basic repro will be quiet a task, giving what I have in this project, can't promise it, but I will try to find a solution.

What were the steps taken to create that issue:
`yarn upgrade cloudinary-vue` and restart of the webpack-dev-server

[2020-02-13 08:41] patrick-tolosa commented on #60
Thanks @mkbctrl  - That helps identify the problem.

Can you please share your node and npm versions?

[2020-02-13 10:04] mkbctrl commented on #60
Happy to help:
node: 10.15
npm: 6.4.1

[2020-02-13 12:47] mayashavin commented on #59
@pulkit21 please provide how you add Cloudinary to use in your project?  Thanks

[2020-02-13 12:59] mayashavin opened #61 "[Bug] Transformation failed to work with transformation nested in transformation"
Using Cld-Transformation with nested transformation doesn't rendered correctly.

[2020-02-13 22:08] patrick-tolosa commented on #60
Thanks, I'm trying all sorts of reproduction steps, I can't quite get it to fail as you have.

Could you paste here a few configuration files?

- babelrc
- package.json

Also if you used VueCLI, what version of VueCLI was used to build this project?

[2020-02-17 10:23] mkbctrl commented on #60
Here you go:

**babel.rc**
[code]

**package.json**

[code]

One additional question - don't want to disturb you with yet another issue. Do you have hooks in your package, or are you planning to implement them?

Currently I am using your package for loading the images inside the carousel, that I display on `v-if="true"`. However there is a small UX issue - some of the images takes a little bit lon

[2020-02-17 16:05] patrick-tolosa commented on #60
Thanks,

I've created a basic environment that replicates this issue,
I think you currently exclude (rightfully so), node_modules from your babel loader.
it probably looks something like this:

` {
        test: /\.js$/,
        exclude: /node_modules/,
        loader: 'babel-loader',
        options: {}
      },`

In my demo environment, I resolved the issue by removing the 'exclude' key (forcing

[2020-02-17 22:34] asisayag2 commented on #61
@mayashavin , can you give an example?
What is the use-case of doing that?

[2020-02-20 07:57] patrick-tolosa commented on #60
Hey @mkbctrl - Any updates on this?
We'd like to plan for a fix but we just need to confirm this is the root-cause.

[2020-02-20 12:03] mkbctrl commented on #60
I remember about you, but have to deliver one feature first. I will keep you posted as soon as I have time for it. Sorry to keep you waiting. Hopefully on Monday I should be able to work with it.
On 20 Feb 2020, 08:57 +0100, patrick-tolosa <notifications@github.com>, wrote:

[2020-02-20 12:26] patrick-tolosa commented on #60
Thanks!
No pressure, we're just trying to provide a solution as soon as possible!

[2020-02-26 04:39] syropian opened #62 "SSR Issues"
I'm trying to use cloudinary-vue with a Nuxt application, but I'm getting an SSR warning from Nuxt everywhere I server render a `CldImage` component. It mentions that theres mismatching childNodes vs. VNodes, and there appears to be extra an text node in the VNode list. I've attached a screenshot from my browser console:

![Screen Shot 2020-02-25 at 11 37 31 PM](https://user-images.githubuserconte

[2020-02-27 13:41] joshukraine commented on #62
I have experienced this same issue on my blog, which is built with Nuxt. Here is one of my image components: https://github.com/joshukraine/ofreport.com/blob/master/components/ArticleImage.vue Full repo is open source.

[2020-03-03 08:36] #40 closed

[2020-03-03 15:05] mayashavin commented on #62
@syropian I saw you are using `"cloudinary-vue": "^1.0.0-beta3"`. Please change it to `^1.0.0` as we solved this problem in SSR with the official version 1.0.0. The beta3 version doesn't work directly with SSR and will need to use a workaround.
Let me know if you need other help.

[2020-03-03 22:03] syropian commented on #62
@mayashavin I have `"cloudinary-vue": "^1.0.0",` in my package.json file already, and I confirmed it's `"version": "1.0.0",` by looking in `node_modules`.

[2020-03-04 04:29] joshukraine commented on #62
@mayashavin Thank you for the information. I was also on `"cloudinary-vue": "^1.0.0-beta3"`, but I have just now updated to v1.0.0, and I can confirm that the issue persists. During normal client-side navigation, the pages render without errors. But if I refresh the page (SSR), I get the usual errors about mismatches in the virtual DOM. (See PR link above, screenshot below.)

<img width="591" alt=

[2020-03-13 10:03] shrestha2lt8 opened #64 "Module not found: Error: Can't resolve './components/CldContext/CldContext'"
ERROR in ./node_modules/cloudinary-vue/src/index.js
Module not found: Error: Can't resolve './components/CldContext/CldContext' in 'E:\Other\Project\Yeti\FILMD\Source\FILMD-Engine\FILMD.Web\node_modules\cloudinary-vue\src'
 @ ./node_modules/cloudinary-vue/src/index.js 2:0-60 10:83-93 14:0-18:2
 @ ./scripts/index.js
 @ multi ./scripts/index.js
ERROR in ./node_modules/cloudinary-vue/src/index.js
Mod

[2020-03-13 10:04] shrestha2lt8 commented on #64
And below is my webpack.config.js

const VueLoaderPlugin = require('vue-loader/lib/plugin')
module.exports = {
    entry: {
        // This index.js is main file which should include all other modules
        app: ['./scripts/index.js']
    },
    output: {
        // this says : Compiled file goes to [name].js ie. app.js in my case
        path: __dirname + "/wwwroot/js/dist/",
        filename:

[2020-03-15 09:27] patrick-tolosa commented on #64
Hey @shrestha2lt8

The SDK assumes (maybe wrongfully), that you have the extension .vue set up as a valid extension.

This is normally done in vue-CLI automatically, but if you're using a custom build you'll need to add the resolve object to your Webpack config

module.exports = {
// ...
  resolve: {
    extensions: ['.js', '.vue', '.json']
  }
/...
}

[2020-03-18 10:25] patrick-tolosa commented on #60
@mkbctrl
Version 1.0.1 was just released that should resolve this issue.

[2020-03-18 10:27] patrick-tolosa commented on #59
Hey @pulkit21

Version 1.0.1 was just released that should resolve this issue.
Can you please confirm if it's resolved after an update?

[2020-03-18 13:18] shrestha2lt8 commented on #64
Hi @patrick-tolosa ,

Awesome. It worked.

Thanks for the help.

[2020-03-18 14:13] patrick-tolosa commented on #64
Happy to help,
In any case version 1.0.1 was released today which also solves this problem, so if you don't want to change your configuration, you can try installing the new version.

Closing this issue for now.

[2020-03-18 14:13] #64 closed

[2020-04-01 15:21] shrestha2lt8 opened #66 "Cannot find module 'current-script-polyfill"
I am getting below error when I try to use cld-image

Cloudinary.umd.js:242 Uncaught Error: Cannot find module 'current-script-polyfill'
    at webpackMissingModule (Cloudinary.umd.js:242)
    at Object.dc65 (Cloudinary.umd.js:242)
    at __webpack_require__ (Cloudinary.umd.js:30)
    at Module.fb15 (Cloudinary.umd.js:264)
    at __webpack_require__ (Cloudinary.umd.js:30)
    at Cloudinary.umd.js:

[2020-04-01 16:41] shrestha2lt8 opened #67 "Can we bind publicId with vue js variable?"
On the below code. I want to bind the public-id attribute by vue js data variable.

[code]

When I use v-bind like below to give dynamic public id then the transformation does not work.

[code]

Could you let me know whether it is possible or not to give dynamic public-id on cld-image?

[2020-04-02 14:32] mayashavin commented on #67
@shrestha2lt8 Thank you for reporting it. I tried your code and it works on my side. Here is the sample codeSandbox I used: https://codesandbox.io/s/cloudinary-vue-demo-flgdt
Can you please provide more details (code sample)?

[2020-04-02 14:33] mayashavin commented on #66
Which version of `cloudinary-vue` are you using?

[2020-04-06 11:04] GauthierPLM opened #69 "Update dependency cloudinary-video-player to 1.3"
The current version requested by the package is ^1.1.1, which is a quite old version and rely on many deprecated dependencies.

Using version ^1.3.2 would fix many of these dependencies.

[2020-04-06 11:28] constructivetim commented on #66
I too started getting this error a few days ago.  "cloudinary-vue": "^1.0.1".

i ran

npm install --save current-script-polyfill

and everything worked again

[2020-04-07 09:30] patrick-tolosa commented on #66
It seems 'current-script-polyfill' is a dependency of vue-cli 3.11.0 (that we're using) and is injected by it as a polyfill during the build.

Since vueCLI internally also ignores all node packages when the build output is a library, it takes a very bold assumption that everyone is using the same vue-cli version.

In the long run, this will need to be resolved by a build that doesn't assume anythi

[2020-04-07 09:33] patrick-tolosa commented on #69
Hey @GauthierPLM, Thanks for bringing this up.

We're currently reviewing our current dependencies and are considering such upgrades.

Do you need this update for something specific, or is it just to help us maintain the project by removing deprecated dependencies?

[2020-04-07 09:59] GauthierPLM commented on #69
I don't **need** it right now, but adding it to a project displays many warning about unmaintained and deprecated dependencies, all of them (except core-js) coming from  cloudinary-video-player.

It was to point this out and help you to ensure this package is up to date that I made the issue.

[code]

[2020-04-07 10:40] patrick-tolosa commented on #69
Very much appreciated!
We'll include it in our roadmap to either remove or update this dependency.

[2020-05-05 23:22] macguirerintoul commented on #11
Seeing this with Gridsome. Example: https://github.com/macguirerintoul/macguire.me/commit/845c46241292ce1e402bba88cc44c74fe83a9ecd

Checkout `dev` branch @ 845c462, run `gridsome build`

[2020-05-06 12:27] patrick-tolosa commented on #11
Hey @macguirerintoul

It has been a year since this issue has been closed,
Can you please file a new issue so we can assist?

I tried using the instructions you provided but was unable to reproduce.
Please create a new issue with as much information as possible.

[2020-05-06 12:27] #11 closed

[2020-05-13 14:12] matthieumarais opened #75 "0: Expected identifier, string or number on Edge"
Hello team,
I use Cloudinary in my Vuejs web App
version "cloudinary-vue": "^1.0.0"

I have this error only on Edge : 0: Expected identifier, string or number    chunk-vendors.js (777,1)

in my main.js I have this

[code]
Have you ever had this problem ?
Thanks for help

[2020-05-14 11:00] patrick-tolosa commented on #75
Hey @matthieumarais ,
We haven't encountered this issue before,
Is it possible to create a simple reproducible example?

Also, could you please share some more information?
We'd like to know the following versions you're using so we can also test it on our side:

Vue Cloudinary SDK - 0.0.0
Vue - 0.0.0
VueCLI - 0.0.0 / N/A
Babel - 0.0.0
Webpack/Rollup/Other - 0.0.0
Node - 0.0.0
NPM - 0.0.0

Also, w

[2020-06-04 02:43] kinsaz opened #78 "warning cloudinary-vue > core-js@2.6.9: core-js@<3 is no longer maintained and not recommended for usage"
using     "cloudinary-vue": "^1.0.1",

Gettng this message when I run npm

warning cloudinary-vue > core-js@2.6.9: core-js@<3 is no longer maintained and not recommended for usage due to the number of issues. Please, upgrade your dependencies to the actual version of core-js@3.

[2020-06-04 10:43] patrick-tolosa commented on #78
Thanks @kinsaz for the report,

This is a known issue that we plan to resolve in the near future.
In the meantime, there's no functional limitation in using the older core version.

[2020-06-10 11:33] nomadoda opened #80 "Nuxt error: "Unknown cloud_name""
Re-opening [issue](https://www.google.com/search?q=cloudinary+vue+nuxt&oq=cloudinary+vue+nuxt&aqs=chrome.0.69i59j69i60.1870j0j7&sourceid=chrome&ie=UTF-8), having same problem.

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross-browser issues
[ ] UI/Performance - Display or performance issues
[x] Behaviour - Functions aren’t working as exp

[2020-06-13 06:47] alexbbt opened #81 "CldPlaceholder missing from Exports"
## Describe the bug in a sentence or two.
CldPlaceholder is missing from the exports in this file https://github.com/cloudinary/cloudinary-vue/blob/master/src/index.js
This makes it so we cannot import that component, and must instead install the library using `Vue.use`.

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross-browser issues
[

[2020-06-14 03:03] askrzypczak opened #82 "Add gravity options to responsive feature"
## Explain your use case
… (A high level explanation of why you need this feature)

When using `responsive="fill"` on `CldImage`, the responsive size transformation in the generated url will bypass gravity options passed into the component. This is a shame, since out-of-the-box responsiveness and auto-gravity is one of the main draws to using cloudinary

## Describe the problem you’re trying to so

[2020-06-14 08:31] patrick-tolosa commented on #81
Thanks @alexbbt for the detailed report.

We've just released version 1.1.1 to address this issue,
Please let us know if that resolves it for you.
Thanks again,
Patrick

[2020-06-14 08:36] patrick-tolosa commented on #82
Thanks @askrzypczak  for your detailed report and suggestion.

We're looking into your suggestion, we'll update this thread as soon as we have an answer.
Thanks,
Patrick

[2020-06-14 08:40] patrick-tolosa commented on #41
Closing due to time passed,
If still relevant please reopen

[2020-06-14 08:40] #41 closed

[2020-06-14 08:41] patrick-tolosa commented on #43
This was already done but never closed.

[2020-06-14 08:41] #43 closed

[2020-06-14 08:46] patrick-tolosa commented on #57
@avr  I'm closing this due to time passed,
However, we're very open to new ideas and community PRs.
You're more than welcome to reopen this issue or submit a PR.

[2020-06-14 08:46] #57 closed

[2020-06-14 08:47] patrick-tolosa commented on #59
Hey @pulkit21  - I'm closing this due to time passed,
Your issue should be resolved by the new version, if not please reopen.

[2020-06-14 08:47] #59 closed

[2020-06-14 08:47] patrick-tolosa commented on #60
@mkbctrl  - I'm closing this issue due to time passed.
The new version should resolve the issue.

If you still have problems feel free to reopen.

[2020-06-14 08:47] #60 closed

[2020-06-14 08:49] patrick-tolosa commented on #61
@mayashavin  - I'm closing this issue as the description is not clear and a lot of time has passed since this was opened.

If you can provide an example for this issue please re-open.

[2020-06-14 08:49] #61 closed

[2020-06-14 08:52] patrick-tolosa commented on #66
Version 1.1.1 should address this issue as now "current-script-polyfill" is part of our dependencies.

Please reopen if this issue persists with the new version

[2020-06-14 08:52] #66 closed

[2020-06-14 08:54] patrick-tolosa commented on #67
@shrestha2lt8  - I'm closing this issue due to time passed,
Maya has provided a working example to your question, but if you feel something doesn't work the way it should please feel free to reopen with an example

[2020-06-14 08:54] #67 closed

[2020-06-17 16:47] DerekAlanGilbert commented on #80
Im not sure if this helps, but this is how we are setting it up w/ nuxt and it seems to be working.

[code]

Then we reference the component from any file like this
[code]

hope that helps!

[2020-06-18 09:45] patrick-tolosa commented on #81
We're closing this issue as the new version should resolve the issue.
If the problem persists please reopen.

[2020-06-18 09:45] #81 closed

[2020-06-18 09:47] patrick-tolosa commented on #78
I'm closing this issue as it'll be taken internally and considered in our roadmap.
Until resolved, If you find any limitation of functionality please open a separate issue.

[2020-06-18 09:47] #78 closed

[2020-06-18 09:49] patrick-tolosa commented on #75
Hey @matthieumarais

We were unable to reproduce your issue with the provided information,
I'm closing this issue for now, but if this issue persists please reopen.

[2020-06-18 09:49] #75 closed

[2020-06-18 13:44] alexbbt commented on #81
That looks like it fixed it! Thanks for getting that out so quick

[2020-06-19 19:40] DerekAlanGilbert opened #88 "Cloudfront cdn is requesting both transformed and non transformed images."
## Bug report for Cloudinary Vue SDK
Before proceeding, please update to latest version and test if the issue persists

It persists 👍

## Describe the bug in a sentence or two.

Browsers are fetching the untransformed image first and then replacing it with the correct transformed image. (causing increased costs)

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[x] Cross

[2020-06-22 08:11] patrick-tolosa commented on #88
Thanks @DerekAlanGilbert for your detailed report.

We're currently investigating the possible solutions to this issue, we'll update once we have more information.

[2020-07-04 13:48] pktharindu commented on #62
Wrapping it with a `client-only` tag works for me.

[code]

[2020-08-19 19:59] KazakovKirill commented on #82
Hello!
Is there any updates?

[2020-08-19 22:03] KazakovKirill opened #99 "cld-placeholder loads unresponsive image in responsive cld-image"
**CldPlaceholder** inside **CldImage** with **responsive="fill"** loads huge original full-sized blurred picture instead of small cropped one:

_Browser requests:_
**CldImage:**
Cropped "responsive" hi-res image, which is ok:
`https://res.cloudinary.com/mycloud/image/upload/g_auto/c_fill,dpr_3.0000001192092896,h_865,w_400/dpr_auto,q_auto/v1/loremipsum/dolar.jpg`

**CldPlaceholder:**
This is huge 5

[2020-08-20 10:44] patrick-tolosa commented on #82
Hello @KazakovKirill

This change is on our road map. However, there is no ETA yet.
We'll update this thread once we have more information.

[2020-08-20 11:49] patrick-tolosa commented on #99
Hey @KazakovKirill

Thanks for bringing this up to our attention.
We're investigating the issue and we'll update once we have more information

[2020-08-29 06:03] jankal opened #101 "Require vue as peerDependency"
## Feature request for Cloudinary Vue SDK
Please specify vue as a peer-dependency of you package instead of a direct depedency and try to be more open about upper and lower version bounds of the vue package.
It's now the second time, this package dictates the vue version I can use. And that's annoying.

## Explain your use case
Every kind of usage in an environment where other packages and version

[2020-08-30 09:46] roeeba commented on #101
Hi @jankal, Thank you for pointing this out. We've opened an internal ticket to our developers and we'll update once there is there's any progress.

[2020-09-01 21:41] DerekAlanGilbert commented on #101
This is also an issue my team is facing. Thanks for taking care of it 👍

[2020-09-02 13:17] diegopamio opened #103 "default-image not getting considered"
##  Describe the bug in a sentence or two.
The `default-image='<publicID>'` prop is not getting transformed into a `d_<publicID>` string in the url.

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross-browser issues
[ ] UI/Performance - Display or performance issues
[X] Behaviour - Functions aren’t working as expected (Such as generate URL

[2020-09-02 16:45] patrick-tolosa commented on #103
Hey @diegopamio  - The Vue SDK doesn't have a `default-image` prop, can you please share a link to where you've seen this used?

[2020-09-02 17:19] diegopamio commented on #103
I haven't, but I assumed that, if the Javascript core SDK has it, it should have it too (perhaps this should turn from bug to feature). Is there a way to achieve the desired results otherwise?

I assumed that if this was supported by cloudinary_js it should be available in different javascript libraries:
https://github.com/cloudinary/cloudinary_js/blob/b3dd7b6e71f4c0aa4ec4190d3356acc475f87d22/src/

[2020-09-02 19:23] patrick-tolosa commented on #103
Hey @diegopamio

The prop is available through `defaultImage`,

For example
[code]
will generate `https://res.cloudinary.com/demo/image/upload/d_lala/sample`

[2020-09-02 19:29] diegopamio commented on #103
Oh... I see I wasn't able to try with camelCase as my ESlint was complaining about it with: ESLint: Attribute 'defaultImage' must be hyphenated.(vue/attribute-hyphenation)

It worked!

Is that different than all other props like `public-id` that are hyphenated?

[2020-09-02 19:39] patrick-tolosa commented on #103
As you mentioned, some of the attributes you can add to the Vue cld-image get cascaded down to our internal implementations.

Vue treats `props` and `attributes` differently.
Since publicID is a prop, you can pass it as both `public-id` and `publicId` and Vue will handle the change automatically.

`defaultImage` is not a property of cld-image, but just a custom attribute we collect and pass down.

[2020-09-02 19:50] diegopamio commented on #103
Great explanation, thanks!

[2020-09-02 19:50] #103 closed

[2020-09-06 12:53] patrick-tolosa commented on #101
Hey @briancbarrow , we've just released version 1.1.2 which should address this issue,
Please let us know if this solves your problem.

Regards,
Patrick

[2020-09-08 08:19] jankal opened #105 "Remove core-js as dependency"
## Feature request for Cloudinary Vue SDK
If possible, removing core-js from cloudinary-vue's dependencies would really shrik the dependency graph of projects working with it. Core-js seems to not being used in the code. The only files I can find relations to core-js are package.json and package-loc.json

## Describe the problem you’re trying to solve
This feature will help me to reduce the size o

[2020-09-08 08:59] IamTheHttp commented on #105
Hey @jankal ,

Thanks for your suggestion, these are always very welcomed!

Core-JS is actually used quite heavily in the build output of this library.
You won't see a reference in the codebase, but when the project is built, you'll see some interesting lines in the dist files

For example:
[code]

If core-js is not present and you try to import this library, you'll run into some errors of missing

[2020-09-08 09:01] patrick-tolosa commented on #105
Hey @jankal ,

Thanks for your suggestion, these are always very welcomed!

Core-JS is actually used quite heavily in the build output of this library.
You won't see a reference in the codebase, but when the project is built, you'll see some interesting lines in the dist files

For example:
[code]

If core-js is not present and you try to import this library, you'll run into some errors of missing

[2020-09-08 09:28] jankal commented on #105
Hi @patrick-tolosa

I see the reason for this. When there are users out there facig issues when it's not part of the package, you should have it included and leave it as is for now.
It's just another thing you have to maintain the version number for.

[2020-09-08 09:28] #105 closed

[2020-09-15 16:45] themarcba commented on #99
`CldPlaceholder.vue` uses `getImageWidth` and `getImageHeight` to generate the placeholder URL.
However, these are only populated by:
[code]

I am not that deep into the project yet. But it seems like the solution is one of two options:
- Update `transformOptions.width` in `CldImage.vue` when resizing with the correct breakpoint
- Get the resize breakpoint in `CldPlaceholder.vue`

Again, I just st

[2020-09-27 11:33] patrick-tolosa commented on #101
I'm closing this issue as the fix is already available, if you encounter any more issues, feel free to open a new issue.

Thanks for reporting this

[2020-09-27 11:33] #101 closed

[2020-09-27 11:41] patrick-tolosa commented on #80
I'm closing this issue due to time passed, please reopen if this is still occuring

[2020-09-27 11:41] #80 closed

[2020-10-01 23:12] mayashavin opened #106 "CldPlaceholder type predominant sent the wrong url"
## Bug report for Cloudinary Vue SDK
Current version: 1.1.2

## Describe the bug in a sentence or two.
Using `predominant` as type for `CldPlaceholder` yields the wrong delivery URL for placeholder, causing a broken image.

## Issue Type (Can be multiple)
[x] UI/Performance - Display or performance issues
[x] Behaviour - Functions aren’t working as expected (Such as generate URL)

## Steps to repr

[2020-10-01 23:42] mayashavin commented on #106
It is supposed to be `predominant-color`, not `predominant`. Docs will be updated according: https://cloudinary.com/documentation/vue_image_manipulation

[2020-10-01 23:42] #106 closed

[2020-10-15 06:33] mayashavin opened #107 "CLDPicture"
## Feature request for Cloudinary Vue SDK
Add support for rendering `picture` instead of `image`.

## Explain your use case
`picture` is widely supported in browsers, and have advantages compared to `image` in making image performant and so on.

## Describe the problem you’re trying to solve
`cld-picture`

[2020-10-26 10:39] RitikPatni opened #111 "What is the status of Vue 3 support now that it is stable."
## Feature request for Cloudinary Vue SDK
…(If your feature is for other SDKs, please request them there)

## Explain your use case
I'm upgrading my application to Vue 3 and the current package is giving me error.

## Describe the problem you’re trying to solve
This is the error I'm getting and the component which is using this doesn't render after this

[code]

## Do you have a proposed solution?

[2020-10-26 10:46] patrick-tolosa commented on #111
Hey @RitikPatni

This SDK does not support Vue 3.
Unfortunately, there's no migration path to Vue3, and the entire library needs to change to support it.

If we'll offer a Vue3 solution, it'll most likely be in its own repository.

[2020-10-26 10:49] RitikPatni commented on #111
@patrick-tolosa Are there any plans for it in near future.

[2020-10-26 10:58] patrick-tolosa commented on #111
We're currently working on a new version for the VueJS SDK, however, I'm not sure it will include support for Vue 3(it's too early to say).

We feel Vue3, while officially released, is not mature enough and doesn't have enough community support to merit its own SDK.
This is constantly being re-evaluated.

I'm keeping this issue open to see if other users have the same need.

[2020-10-26 10:59] RitikPatni commented on #111
Thanks @patrick-tolosa

[2020-11-05 21:30] unr commented on #62
It sounds like this is an ongoing issue?

If the expectation is that every image using CldImage is to be client only, will likely just have to go back to using straight urls. Not useful in an SSR Nuxt Application.

[2020-11-09 11:25] mayashavin commented on #62
`responsive` is a client-only tag, since it calculates the size base on the actual viewport.

If you don't use `responsive`, CldImage should work normally regardless server or client. However, the new version of Cloudinary-Vue SDK will address the issue of mis-matching content render.

@unr @joshukraine

[2020-11-09 11:27] mayashavin commented on #42
https://gridsome-cloudinary.netlify.app/

[2020-11-09 11:27] #42 closed

[2020-11-23 07:55] #99 closed

[2020-11-23 09:02] mayashavin commented on #82
Fixed and Merged #117

[2020-11-23 09:02] #82 closed

[2020-11-23 09:03] mayashavin commented on #62
fixed in #117

[2020-11-23 09:03] #62 closed

[2020-11-23 09:04] mayashavin commented on #88
fixed in #117

[2020-11-23 09:04] #88 closed

[2020-11-23 09:08] mayashavin commented on #55
@hellokvn the next version all the classes passed to `cld-image` will apply to generated `img` tag. Hence we don't need `img-class`

Please pay attention that if you use `placeholder` or `CldPlaceholder`, there will be a wrapper class with class name `cld-image--wrapper` and this wrapper will also inherit classes passed. Generated `img` will have default class name `cld-image`.

Enhanced in #117

[2020-11-23 09:08] #55 closed

[2020-11-23 09:08] mayashavin commented on #45
@maoznir can you take a look? Thanks

[2020-12-05 21:04] Sjoerd82 opened #120 "Installation/Registration fails"
## Describe the bug in a sentence or two.
Error registering plugin

## Issue Type (Can be multiple)
[X] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross-browser issues
[ ] UI/Performance - Display or performance issues
[ ] Behaviour - Functions aren’t working as expected (Such as generate URL)
[ ] Documentation - Inconsistency between the docs and behavior
[X] Incorrect Ty

[2020-12-06 08:44] patrick-tolosa commented on #120
Hey @Sjoerd82

I couldn't reproduce this issue, what I tried:

1. Create a new project
2. Copy your package.json
3. Create src/main.js with the code you provided
4. npm install
5. npm run serve

I did not get any errors at build time.

You mentioned something about a component not existing, but your screenshot is showing a typescript declaration file error.
You also mentioned installing @types/clo

[2020-12-09 07:53] mayashavin commented on #69
We removed this dependency since it is redundant as the sdk doesn't use it. The new version will be shipped with cloudinary-video-player,

[2020-12-09 07:53] #69 closed

[2020-12-09 07:54] mayashavin commented on #45
Closed since we removed cloudinary-video-player and it shouldn't appear anymore

[2020-12-09 07:54] #45 closed

[2020-12-09 19:14] Sjoerd82 commented on #120
Dear Patrick,

Thanks for picking this issue up so quickly. However, while working around the issue I found that it was actually very straightforward to communicate with the Cloudinary API directly from Vue, so I abandoned using this plugin.

If you like you may close this issue. I do Vue/Js/Frameworks mainly as a hobby, so I'm def. not a pro, herein probably lies my issue ;-). For users like me,

[2020-12-10 00:56] momoip commented on #120
Hi Sjoerd82,
Thanks for your response.   I will close this issue.
Best,
Mo

[2020-12-15 08:43] soderkr commented on #111
Hi @patrick-tolosa what is the status of this? Asking as the lack of support for Vue 3 is a blocker in our project.

[2020-12-15 08:50] patrick-tolosa commented on #111
Hey @soderkr  - No updates on this front, we'll update when we decide to tackle Vue 3 as an SDK.
this is not just Vue 3 support, but a whole new SDK as the internals are completely different.

[2020-12-15 09:34] mayashavin commented on #120
@Sjoerd82 you can check out our playground (including step by step installation and working examples) - https://cloudinary.github.io/cloudinary-vue
Hope it helps.

[2020-12-15 09:34] #120 closed

[2021-01-04 21:31] ceilfors commented on #55
May I know when will this change be released?

[2021-01-05 07:43] mayashavin commented on #55
@ceilfors this will be released shortly. Hopefully this or next week. Currently we are working on solving a problem related to corejs 2x build support. I will update you when it's out :)

[2021-02-26 13:09] Marvin1003 commented on #105
How is the process of including

[2021-02-26 13:14] Marvin1003 commented on #105
How is the process of defining _core-js_ as a peer dependency? It should be the decision of the host that includes this package, if polyfills are needed based on his targeted browsermatrix. As _cloudinary-core_ is already a very tall package, dropping _core-js_ would be at least a small win.

[2021-02-27 11:54] patrick-tolosa commented on #105
That is on our mind, however, this will be a breaking change to existing users.
Since we're already working on a new alternative to the existing JS libraries, we'd like to avoid releasing a major for Vue, only to release a whole new library in a few weeks.

[2021-03-17 20:31] askrzypczak commented on #82
I can see that this was merged into 'master' but there doesnt seem to be a release yet. Where can i find information about the release schedule?

[2021-04-04 12:45] patrick-tolosa commented on #82
Hey @askrzypczak - this is now available in version 1.2.0

[2021-04-09 12:54] finex commented on #62
Hi, I'm currently using the latest nuxt.js cloudinary plugin (1.25.1) with cloudinary-vue 1.2.0 and when I generate the website using the statc target, `cld-image` component is not rendered (with or without the `responsive` parameter).

[2021-04-12 09:51] eyalktCloudinary commented on #62
@finex Can you share additional details about the issue? For instance, are you seeing any errors in the console? Can you reproduce the issue in an isolated environment (like https://codesandbox.io/)? Can you share the Cloudinary relevant code snippets (e.g - configuration, `cld-image`)?

[2021-04-28 06:30] pktharindu opened #133 "Build fail after updating to v1.2.0"
## Bug report for Cloudinary Vue SDK
I've been using `cloudinary-vue` v1.1.2 in a nuxt.js project which has been working fine. But after I update to v1.2.0 build fail with the following error.

## Issue Type (Can be multiple)
[x] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross-browser issues
[ ] UI/Performance - Display or performance issues
[ ] Behaviour - Functions aren

[2021-04-28 11:59] patrick-tolosa commented on #133
Thanks for reporting this issue,
We'll update once we have more information to share.

[2021-04-29 20:22] powellian commented on #133
I received the same build error in Nuxt after the same Cloudinary update.
Got the site to build by commenting-out all references to Cloudinary in `nuxt-config.js` which seems to have isolated it to 'only' a Cloudinary issue.

Fingers crossed for a fix as using this in Netlify works well.

[2021-04-30 00:45] DrevanTonder commented on #133
I use cloudinary-vue with the [Cloudinary integration for Nuxt](https://cloudinary.nuxtjs.org/) (@nuxtjs/cloudinary) for multiple projects.

I get the same errors as @pktharindu if I try to upgrade:

[code]

For now I'm just sticking with v1.1.2. However, I do want the DPR changes in #122.

[2021-04-30 09:09] powellian commented on #133
I tried a belt/braces approach:
- uninstall @nuxtjs/cloudinary
- delete package-lock.json
- reinstall @nuxtjs/cloudinary

Unfortunately localhost build still rendering same type of errors as screenshot above from @pktharindu

For the record:
`package.json` now reads this (non-specific/wildcard version): `"@nuxtjs/cloudinary": "*",`
`package-lock.json` now has this:
[code]

[2021-05-02 07:56] patrick-tolosa commented on #133
We're planning on addressing this issue in our next sprint (starting May 18th).
If you can provide a repro that would be much appreciated.

We'll update this thread once the fix is deployed.

[2021-05-06 21:21] inlikealion commented on #133
Yeesh, is there any advice on what to do in the meantime? I've been tasked with updating our apps dependencies and this one is throwing the above errors and stalled our upgrade cycle.

[2021-05-09 14:19] patrick-tolosa commented on #133
Unfortunately no workaround at this time, if you're still having issues with `1.1.2` please let us know in this thread.

if you could provide a repo that reproduces this, it would greatly speed up the efforts to fix it.

[2021-05-18 15:36] patrick-tolosa commented on #133
Hey all,
We just released version `1.2.1` which should resolve the issue.
We've inlined all the imports that were sprinkled in the package.

Please report if you have any issues.

[2021-05-18 15:36] #133 closed

[2021-05-25 18:37] syropian opened #137 "dpr: auto no longer works when `responsive` is set"
## Describe the bug in a sentence or two.

Since #122, having both `dpr="auto"` and `responsive` attributes on an image results in blurry images for devices with a DPR higher than 1. Rolling back to `v1.1.2` fixed the issue for me.

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross-browser issues
[x] UI/Performance - Display or performanc

[2021-05-27 11:06] patrick-tolosa commented on #137
Thanks for reporting this issue,

We've already merged a fix in #138  we'll release a new version within a week or two.

[2021-05-27 12:50] syropian commented on #137
Beautiful, thanks so much!

[2021-05-30 09:46] patrick-tolosa commented on #137
@syropian - We've just released version 1.2.2 that should resolve this issue,
Please let us know if you're still having issues. (Closing this issue for now)

[2021-05-30 09:46] #137 closed

[2021-05-30 12:54] syropian commented on #137
Works great @patrick-tolosa! Very much appreciated ❤️

[2021-06-28 19:41] frontseatv commented on #111
Hi @patrick-tolosa, is there a workaround for Vue 3 developers we can use?

[2021-06-28 19:42] brandiqa commented on #111
Hi @patrick-tolosa, is there a workaround that Vue 3 developers can use in the meantime?

[2021-06-29 14:18] patrick-tolosa commented on #111
Hey @brandiqa  - No updates for Vue 3 yet.

[2021-07-07 17:31] blaadje opened #140 "Autoloading not working in chrome"
## Describe the bug in a sentence or two.
Hi, with the new `1.2.0` version (`1.2.2` as well)
- I can't make the **video** autoloading working.
- Poster won't load the correct ones (loading a .gif)

## Issue Type (Can be multiple)
[x] Behaviour - Functions aren’t working as expected (Such as generate URL)

## Steps to reproduce

You can reproduce the issue in this pen https://codepen.io/blaadje/pen

[2021-07-08 00:32] victorli-cloudinary commented on #140
Hi there, thanks for reaching out to us! I'm checking in with our internal team to look into this for you. We'll update you as soon as we have findings to share.

[2021-07-08 16:19] Vdeub-cloudinary commented on #140
Hi @blaadje,
The team is currently working on a fix and we hope to release it next week.
We will keep you posted on our progress.

[2021-07-11 07:53] patrick-tolosa commented on #140
Hi @blaadje,

A PR Fixing it was merged and released under version `1.2.3`
I'm closing the issue, but if you're still having problems please reply here or open a new issue.

[2021-07-11 07:53] #140 closed

[2021-07-11 08:24] blaadje commented on #140
Okay ! Thank you for your reactivity !

[2021-08-12 08:02] alxistn opened #145 "Add the possibility to specify css class to generated img html tag"
## Explain your use case
I want to be able to add a class to cld-image component that will be passed down to the generated <img> element

## Do you have a proposed solution?
Create a props to cld-image component named "imgClass" that will be concatenated to the rendered <im> element

[2021-08-12 11:26] patrick-tolosa commented on #145
Hey @alxistn

You should be able to pass a class prop directly to the component, this will be merged into the <img> tag classes

[code]

This results in this HTML: (Abbreviated the TransformationURL for clarity)
[code]

Is that what you had in mind?

[2021-08-12 13:43] alxistn commented on #145
Yes exactly !

Or to be more specific, because you could still want to style the container it could be something like that:

[code]

and that will generate:

[code]

[2021-08-12 13:48] alxistn commented on #145
Here is an example implementation that could be done:

[code]

Here there is a new prop named "imgClass" of type String and default to an empty string.

And then when creating the <img> and its class you concatenate the "imgClass" prop with the existing cloudinary classes like this:
[code]

[2021-08-12 15:36] eyalktCloudinary commented on #145
Hey @alxistn, the `cld-image` component  returns an `<img>` element (without a wrapping `<div>`).
If you want to wrap it you can place it inside a div -

[code]
which would resolve to -

[code]

This looks like what you are looking for - https://github.com/cloudinary/cloudinary-vue/issues/145#issuecomment-897651164

Another thing to note is that if you do wrap the `cld-image` component with a `div

[2021-08-12 15:58] patrick-tolosa commented on #145
@alxistn it depends on how you use the component, for example a simple rendering as I've shown above:

[code]

Generates this (full) html - without a div

[code]

However, if you're using a placeholder an example, you are indeed getting a wrapping div, with this HTML

[code]

Note how in this case, only the top-most HTML element receives the className  (So just the div, but not the img)

Given thi

[2021-08-12 16:04] alxistn commented on #145
Given this I would need this result:
[code]

[2021-08-13 16:55] namsir commented on #111
create your own component with their js sdk.

[2021-08-15 13:05] patrick-tolosa commented on #145
Thanks @alxistn , now it's understood.

Although this goes against the way Vue works (The top-most component always gets the class passed to the component), this does sound like something that can help make things more consistent.

It looks like the best approach would be to add a new prop specifically for the `img` tag.
Our team is currently focused on our new generation of the SDKs (including th

[2021-08-16 06:31] alxistn commented on #145
Great ! This is what I had in mind but I'm not sure how to process given that I don't have the rights to do so

[2021-08-23 03:14] maxkopych opened #147 "How to get image as background image?"
If I want just to get image as bg or just get image URL how I can do that?

[2021-08-25 08:48] patrick-tolosa commented on #147
@maxkopych I'm closing this issue since it seems resolved, please feel free to open a new issue if needed.

[2021-08-25 08:48] #147 closed

[2021-08-25 12:39] patrick-tolosa commented on #145
@alxistn You should be able to fork the project (Top right in your github UI), once you've forked the repo, you can commit to your fork copy your changes, then you can open a PR from the fork to this repository.

Once the PR is open we'll get a notification and we can start the review process.

[2021-09-15 09:50] blaadje opened #152 "Add the possibility to deliver raw svg"
## Explain your use case
I'd like to use `<CldImage />` component with svg and not retrieving rendered `<img />` tag but `<svg />`

## Describe the problem you’re trying to solve
So we can control styling in css such as stroke fill etc. &  use cloudinary with svg as hosting only. (no transforms)

## Do you have a proposed solution?
Modify Image component api

[2021-09-15 11:45] patrick-tolosa commented on #152
Hey @blaadje

You can use the https://github.com/cloudinary/cloudinary_js package to use plain javascript (Without vue), and use the results wherever you want.

The next generation of the javascript SDK will be released shortly, and can be used as well:
https://github.com/cloudinary/js-url-gen

This feature is currently out of scope for the Vue SDK itself.

[2021-09-15 13:26] blaadje commented on #152
Hello @patrick-tolosa , thanks for your answer !
Could you give me an example to do this ? I cannot find anything in the doc close to that :(

[2021-09-19 11:36] patrick-tolosa commented on #152
The key thing to consider is the separation of concerns, the first task is to create a URL with your desired transformation

- [Using the existing JS SDK](https://cloudinary.com/documentation/javascript_image_manipulation)
- [Using the new JS SDK](https://cloudinary.com/documentation/javascript2_image_transformations)

Once you created your URL, you can use it in whatever element you want.
your cu

[2022-01-06 19:41] rebeccapeltz commented on #10
Update on this: The feature is still on our roadmap but not scheduled.  Here is some sample code that will render the Upload Widget in Vue.js. https://codepen.io/rpeltz/pen/WNZKrNP

[2022-03-29 18:34] awacode21 commented on #111
we are now in 2022 and Vue 3 is there for a while now. What's your current state? No Vue 3 support is a clear blocker for me to use cloudinary. Feels quite outdated. Competitors are faster on this.

[2022-04-03 11:27] patrick-tolosa commented on #111
@awacode21 Thanks for pinging on this.
It's still on our roadmap, but this should not be a blocker by any means for Cloudinary.

Using the latest JS library (https://github.com/cloudinary/js-url-gen) which handles URL-generation exclusively, it's rather trivial writing your vue bindings on top of it. (Note that it's usage is very different from this Vue library)

Vue 3 support would probably be pa

[2022-05-30 02:12] emoyee opened #162 "<cld-transformation :effect="effect" />生成的url中effect无效"
代码：`<cld-transformation :effect="effect" />`
生成结果：![image](https://user-images.githubusercontent.com/100683441/170904524-67a012c8-66ae-4325-9f7f-399ac85e59fd.png)这是生成错误的url
代码：`<cld-transformation effect="art:athena" />`
生成结果：![image](https://user-images.githubusercontent.com/100683441/170904639-fb2c1e4c-54bd-48bb-8e81-e0fa90b5eaee.png)这便是生成正确的url

[2022-05-30 02:13] emoyee commented on #162
effect我通过控制台打印出来过，没问题

[2022-05-30 02:14] emoyee commented on #162
![image](https://user-images.githubusercontent.com/100683441/170904903-4f9d3d0b-a030-4a9b-a7c0-3218ca31657f.png)
这是我这一块的代码

[2022-05-30 02:15] emoyee commented on #162
effect我打印出来过，值没有问题
全部逻辑代码：
[code]

[2022-05-30 07:56] patrick-tolosa commented on #162
Hey @emoyee - what exactly are you trying to do?

[2022-05-30 08:01] emoyee commented on #162
根据下拉框选择不同的风格滤镜，图片会呈现不同的效果，但是effect渲染出来的url 上有点问题

[2022-05-30 12:16] aleksandar-cloudinary commented on #162
Hi @emoyee - Does `effect` definitely have the right value set? If you add a `<span>Effect value: {{ effect }}</span>` to your template, do you see the expected value printed?

[2022-05-31 02:43] emoyee commented on #162
![K0GP8HIP~PBD{K37ZP(13`3](https://user-images.githubusercontent.com/100683441/171082346-a53dca84-fdee-4650-bfff-ecb61be13c01.png)
It's still the same

[2022-05-31 22:35] aleksandar-cloudinary commented on #162
Hi @emoyee - Thanks for trying that. I went ahead and set up a quick app locally to try and reproduce. In my View I just have:

[code]

I use `<div :set="effect = 'art:incognito'">` to create a variable `effect` that I then use further down in the `<cld-transformation/>`.

Once I run the app, I get the following output from this view and the issue is not reproducible on my side:

<img width="384"

[2022-06-01 03:10] emoyee commented on #162
Thanks for your reply.I need this effect to be variable，the effect value is changed, but not rendered. Test project I have released on https://github.com/emoyee/testImg.

[2022-06-01 23:54] rnamba-cloudinary commented on #162
Hello @emoyee, thank you for providing the github link.

I've created a codesandbox here: https://codesandbox.io/s/winter-cache-rsrgf8?file=/src/App.vue:0-1953 that has a working version outputting the expected effect to the console & reflecting on the rendered page. I changed the elements from an el-select / el-option to a normal select/option as the provided snippet was displaying text instead o

[2022-06-06 06:23] emoyee commented on #162
Hi,@rikuoCloudinary.I tried this URL, but I also changed `el-select` to `select` in my project, and the rendered URL remains unchanged.
![image](https://user-images.githubusercontent.com/100683441/172106574-b2684ec7-e98e-43db-bc64-1010559d3d47.png)
The code is exactly the same as that on the website. I tried to create a new project, but there was a problem that could not be solved, so I don't know

[2022-06-06 12:48] PixelCook commented on #162
Can you please share your updated code?

[2022-06-07 01:38] emoyee commented on #162
[code]

[2022-06-07 01:45] emoyee commented on #162
After this effect is assigned a value, the value will not change.
![image](https://user-images.githubusercontent.com/100683441/172277971-3f8a69fd-63c0-496c-ac92-b71c9f8010fe.png)
This effect should become `art:quartz`, but nothing has changed.

[2022-06-07 09:29] PixelCook commented on #162
Change your event function to:

    changeStyle: function (event) {

      this.effect = event.target.value;

      var cloudinary = document.getElementById("imgPic");

      console.log("this.effect", this.effect);

      console.log("cloud", cloudinary);

    },

[2022-06-07 09:37] emoyee commented on #162
![image](https://user-images.githubusercontent.com/100683441/172348727-685d6932-4e40-46eb-9b7a-2960efff748d.png)
Still like this.
[code]

[2022-06-07 09:57] PixelCook commented on #162
You have that value hard coded,
` _this.effect = "art:incognito";`

[2022-06-07 10:03] emoyee commented on #162
How can I change it? This needs an initial value, otherwise there will be errors.

[2022-06-07 10:29] PixelCook commented on #162
`            _this.effect = this.effect;
`
<img width="645" alt="Screen Shot 2022-06-07 at 13 28 35" src="https://user-images.githubusercontent.com/71414229/172358658-b8bf113e-7086-4265-8140-4b7ec0e33649.png">

[2022-06-08 01:00] emoyee commented on #162
If so, the `<cld-transformation effect="art:incognito">` will not change and will always render the default value.
[code]

[2022-06-08 08:41] PixelCook commented on #162
Reference this sandbox https://codesandbox.io/s/lively-wood-cerp8d?file=/src/App.vue

[2022-06-08 09:04] emoyee commented on #162
The code is modified according to this sandbox, but this effect is still not rendered.I copied all the code directly.
![image](https://user-images.githubusercontent.com/100683441/172577400-f91cd6e1-f853-4c9e-98fe-c708420af52a.png)

[2022-06-09 19:29] rnamba-cloudinary commented on #162
@emoyee You'll need to perform a transformation on the image via the URL transformations for the effect to be reflected in the `img src` attribute.

https://cloudinary.com/documentation/image_transformations
https://cloudinary.com/product_updates/cartoonify_effect

For example, in the case of the user selecting "Cartoonify"

The URL would need to change from

`https://res.cloudinary.com/demo/image

[2022-06-13 02:00] emoyee commented on #162
你好，有收到我回复的邮件吗？已经有几天了，我并没有看到回复，请问有什么进展吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "cloudinary/cloudinary-vue"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年6月10日(星期五) 凌晨3:29
***@***.***&gt;;
***

[2022-06-13 11:28] PixelCook commented on #162
What current issues are you still needing help with?

[2022-06-14 01:24] emoyee commented on #162
目前就只有那个effect得问题，别的没有了

[2022-06-14 12:03] PixelCook commented on #162
https://codesandbox.io/s/vue-effect-changes-cerp8d

Here yah go

[2022-06-15 01:18] emoyee commented on #162
![image](https://user-images.githubusercontent.com/100683441/173715811-d29239b8-ea4d-49a1-9da3-8e51ed6d9c0c.png)
我把代码全部复制的，这是渲染出来的url，依旧不对

[2022-06-15 07:18] PixelCook commented on #162
Remember to set the effect before you load the image.

[2022-06-15 07:28] emoyee commented on #162
设置了，还是渲染不上

[2022-06-15 07:33] PixelCook commented on #162
<img width="643" alt="Screen Shot 2022-06-15 at 10 32 15" src="https://user-images.githubusercontent.com/71414229/173769373-fd9b70b8-3fff-4c9a-b47c-7c019e9aba07.png">

The example works. Not sure what you're missing. Feel free to share your updated code and I can take a look.

[2022-11-28 21:13] dajpes opened #165 "Cloudinary-vue not working in Vue 3"
## Bug report for Cloudinary Vue SDK
Using cloudinary-vue 1.2.4, I get the following error:

"TypeError: h is not a function"

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross-browser issues
[ ] UI/Performance - Display or performance issues
[x] Behaviour - Functions aren’t working as expected (Such as generate URL)
[ ] Documentation - I

[2022-11-30 10:45] dannyv-cloudinary commented on #165
Hi @dajpes.

Thanks for raising this with us. Currently, our SDK doesn't support Vue 3. We're working on a new version which we hope to release in the not too distant future, however for now, you will need to use Vue 2 in order to use our SDK.

I hope this helps.

Thanks,
-Danny